* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: silver;
}

:root{
  --principal-color: #26981E;
  --secundario-color: #81E26B;
  --body-color:#ADFF2F;

}

.caja-banner-menu { /* Bloque para contener el banner y el menu */
    /* position: fixed; */
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
  }
  
  .banner { /* Bloque para contener las etiquetas dentro del banner */
    height: 80px;
    /* flex-direction:  ; */
    display: flex;
    background-color: var(--principal-color);
}

.banner__titulo { /*Elemento del bloque banner */
    align-content: center;
    /* position: absolute; */
    right: 60px;
    top: 20px;
    text-align: 80px;
    font-family: "Luckiest Guy", cursive;
}

.menu { /* Bloque menu */
    height: 40px;
    font-family: "Roboto Flex", sans-serif;
    /* position: relative; */
    background-color: #DCC5B2;
    border: 1px solid #DCC5B2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
}

.menu__nombre-marca { /* Elemento del bloque menu */
    /* position: absolute; */
    left: 20px;
    top: 10px;
    font-family: "Luckiest Guy", cursive;
}

.menu__nombre-marca a { /* Elemento del bloque menu --- se modificaron las equitas de tipo enlace */
    text-decoration: none;
    color: #000;
}

.barra-busqueda { /* bloque: Ubicar de manera absoluta la barra de búsqueda dentro del bloque menú  */
    /* position: absolute; */
    display: flex;
    right: 440px;
    top: 3px;
}

.barra-busqueda input { /* Das estilos a la barra de búsqueda */
    height: 33px;
    width: 600px;
    border-radius: 8px;
    padding: 0px 30px;
}

.fa-magnifying-glass { /* Posicionar de manera absoluta el ícono de vidrio de aumento */
    position: absolute;
    margin: 83px 445px;
    left: 9px;
    top: 9px;

}

.fa-filter { /* Posicionar de manera absoluta el ícono de filtros */
    position: absolute;
    margin: 83px 325px;
    right: 9px;
    top: 9px;
}

.menu__enlaces{  /* Elementos  del bloque menú que contiene los íconos del mismo */
    /* position: absolute; */
    right: 10px;
    top: 10px;
    font-weight: bold;
}

.menu__enlaces a { /* Dar estilos a los enlances del menú */
    padding: 0px 10px;
    text-decoration: none;
    color: #000;
}

/* | */
main { /* Bloque que contiene los elementos barra lateral izq, galería e íconos */
    max-width: 1100px;
    height: 500px;
    margin: 120px auto 0px;
    /* position: relative; */
    font-family: "Roboto Flex", sans-serif;
    background-color: var(--secundario-color);
    border: 3px dotted #000;
    margin-top: 20px;
    display: flex;
    
  }
  
  .barra-lateral { /* Bloque para contener los elementos de la barra lateral */
    /* position: absolute; */
    width: 350px;
    height: 480px;
    margin-top: 5px;
    /* left: 0px; */
    /* top: 0px; */
    /* bottom: 0px; */
    margin-left: 10px;
    padding-left: 10px;
    border: 3px dashed #000  ;
    /* margin-top: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;

}



.barra-lateral div {
    margin-bottom: 10px;
}

.barra-lateral div a::before { /* Agregar íconos a los enlaces de categorías del menú del comercio */
    font-family: "Font Awesome 6 Free";
    content: "\f2e7";
    font-weight: 900;
    padding-right: 10px;
}

.barra-lateral div a { /* Dar estilos a los enlaces que contienes las categorías */
    text-decoration: none;
    color: #000;
}

.barra-lateral__titulo { /* Elemento de la barra lateral: estilos al título del menú del comercio */
    font-family: "Luckiest Guy", cursive;
    font-size: large;
    margin: 10px;
    text-align: center;
}

.galeria { /* Bloque que contiene las fotos de los productos del comercio */
    max-width: 859px;
    /* position: absolute; */
    /* right: 0px; */
    margin-left: 15px;
    margin-top: 2px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.galeria__titulo { /* Elemento del bloque galería: dar estilos al menú */
    margin-top: 5px;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
}
.contenedor__galeria--imagen{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.galeria__imagen { /* Elemento del bloque galería: dar estilos a la caja que contiene la imagen del producto */
    width: 206px;
    height: 206px;
    /* display: inline-block; */
    border: 3.5px dashed #000;
    margin: 0 auto;
    flex: 22%;

}

.galeria__imagen--imagen { /* Modificador del bloque galeria: dar estilos a las imágenes */
    width: 100%;
    object-fit: cover;
    
}

.redes-sociales { /* Bloque que contiene los íconos de las redes sociales del comercio */
    /* position: absolute; */
    width: auto;
    height: auto;
    /* bottom: 0px; */
    /* left: 10px; */
    /* bottom: 10px; */
    display: flex;
    align-items: center;
}

.redes-sociales a { /* Dar estilos a los enlaces de las redes sociales */
    text-decoration: none;
    padding-right: 8px;
}

.redes-sociales a i { /* Dar estilos a los íconos enlaces de las redes sociales */
    color: #000;
}
